@import url('https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --axuata-normal-fontcolor-header: #0B0B0F;
  --axuata-normal-fontcolor-tag: #5c5c5c;
  --axuata-normal-fontcolor-description: #424242;
}

a {
  color: #0022ff;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}